<% if @company.errors.any? %>
  <div class="alert">
    <p>Não foi possível cadastrar sua empresa</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>    
    </ul>
  </div>
<% end %>

<% if current_employee.admin == true %>
  <p>Você é o Administrador desta empresa</p>
<% end %>

<h1>Cadastre sua empresa</h1>

<%= form_with model: @company, local: true do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :logo %>
        <%= f.text_field :logo %>
    </div>
    <div>
        <%= f.label :address%>
        <%= f.text_field :address %>
    </div>
    <div>
        <%= f.label :cnpj %>
        <%= f.number_field :cnpj %>
    </div>
    <div>
        <%= f.label :site %>
        <%= f.text_field :site %>
    </div>
    <div>
        <%= f.label :social_media %>
        <%= f.text_field :social_media %>
    </div>
    <div>
        <%= f.label :domain %>
        <%= f.text_field :domain %>
    </div>
    <%= f.submit 'Cadastrar empresa' %>

<% end %>