<%= link_to 'Voltar', companies_path %>

<h1><%= @company.name %></h1>
<span>Administrada por: <%= @company.employee.email %></span>
<dl>
  <dt><%= Company.human_attribute_name(:logo) %></dt>
  <dd><%= @company.logo %></dd>
  <dt><%= Company.human_attribute_name(:address) %></dt>
  <dd><%= @company.address %></dd>
  <dt><%= Company.human_attribute_name(:cnpj) %></dt>
  <dd><%= @company.cnpj %></dd>
  <dt><%= Company.human_attribute_name(:site) %></dt>
  <dd><%= @company.site %></dd>
  <dt><%= Company.human_attribute_name(:social_media) %></dt>
  <dd><%= @company.social_media %></dd>
  <dt><%= Company.human_attribute_name(:domain) %></dt>
  <dd><%= @company.domain %></dd>

</dl>